server:
  port: 8095

spring:
  application:
    name: geolocalizacion-microservice

  datasource:
    url: jdbc:postgresql://localhost:5432/geolocalizaciones_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

# URL del servicio OSRM
osrm:
  base-url: http://router.project-osrm.org
